[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dr-robot = {editable = true,path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
tox = "*"
pytest-runner = "*"
"flake8" = "*"
pylint = "*"
"autopep8" = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3"
