[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dr-robot = {editable = true,path = "."}
idna-ssl = "*"

[dev-packages]
docker = "~=4.0"
requests = "~=2.0"
netaddr = "~=0.7.19"
mattermostdriver= "~=6.0"
shodan = "~=1.0"
certifi = "~=2022.12"
beautifulsoup4 = "~=4.0"
tqdm = "~=4.0"
dicttoxml = "~=1.0"
slackclient = "~=2.0"
argparse= "*"
"flake8" = "*"
pylint = "*"
"autopep8" = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3"
